---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    releaseName: cilium
    includeCRDs: true
    namespace: cilium2
    valuesFile: ./values.yaml
